In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
import datetime as dt
import copy
import matplotlib.pyplot as plt
import time

tickers = ["AMZN","MSFT","INTC","GOOG", "ES"]
start = dt.datetime.today() - dt.timedelta(700)
end = dt.date.today()
cl_price = pd.DataFrame()#empty dataframe to be filled with data prices
ohlcv_data = {} # empty dictionary
# looping over tickers and creating dataframe with close prices
for ticker in tickers:
    ohlcv_data[ticker] = yf.download(ticker,start,end,interval='60m')
    ohlcv_data[ticker].dropna(inplace=True,how="all")
 
tickers = ohlcv_data.keys() # redefine tickers variable after removing any tickers with corrupted data

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [2]:
google = ohlcv_data['GOOG']
microsoft = ohlcv_data['MSFT']
intel = ohlcv_data['INTC']
amazon = ohlcv_data['AMZN']
sp500 = ohlcv_data['ES']

In [3]:
google.reset_index(inplace=True)
google

,Datetime,Open,High,Low,Close,Adj Close,Volume
0,2021-03-05 09:30:00-05:00,103.448502,104.849503,103.318504,103.731491,103.731491,504447
1,2021-03-05 10:30:00-05:00,103.792007,104.050003,102.320755,102.650002,102.650002,286350
2,2021-03-05 11:30:00-05:00,102.584251,103.519997,102.399002,103.331009,103.331009,176589
3,2021-03-05 12:30:00-05:00,103.349998,104.735497,103.225502,104.186996,104.186996,254154
4,2021-03-05 13:30:00-05:00,104.297470,104.493004,103.800003,104.483994,104.483994,185031
...,...,...,...,...,...,...,...
3363,2023-02-01 11:30:00-05:00,99.105003,99.279999,98.879997,99.217499,99.217499,1854875
3364,2023-02-01 12:30:00-05:00,99.209999,99.254997,98.860001,99.150002,99.150002,1695162
3365,2023-02-01 13:30:00-05:00,99.150002,99.739998,98.500000,99.320000,99.320000,2495497
3366,2023-02-01 14:30:00-05:00,99.324997,101.639999,98.419998,101.279999,101.279999,5306772
3367,2023-02-01 15:30:00-05:00,101.290001,102.189903,101.209999,101.400002,101.400002,3521592

In [4]:
datetime_coded = []

for x in google['Datetime']:
    datetime_coded.append(int(str(x)[11:-6].replace(":", "")))

datetime_coded


google['datetime_coded'] = datetime_coded

google

,Datetime,Open,High,Low,Close,Adj Close,Volume,datetime_coded
0,2021-03-05 09:30:00-05:00,103.448502,104.849503,103.318504,103.731491,103.731491,504447,93000
1,2021-03-05 10:30:00-05:00,103.792007,104.050003,102.320755,102.650002,102.650002,286350,103000
2,2021-03-05 11:30:00-05:00,102.584251,103.519997,102.399002,103.331009,103.331009,176589,113000
3,2021-03-05 12:30:00-05:00,103.349998,104.735497,103.225502,104.186996,104.186996,254154,123000
4,2021-03-05 13:30:00-05:00,104.297470,104.493004,103.800003,104.483994,104.483994,185031,133000
...,...,...,...,...,...,...,...,...
3363,2023-02-01 11:30:00-05:00,99.105003,99.279999,98.879997,99.217499,99.217499,1854875,113000
3364,2023-02-01 12:30:00-05:00,99.209999,99.254997,98.860001,99.150002,99.150002,1695162,123000
3365,2023-02-01 13:30:00-05:00,99.150002,99.739998,98.500000,99.320000,99.320000,2495497,133000
3366,2023-02-01 14:30:00-05:00,99.324997,101.639999,98.419998,101.279999,101.279999,5306772,143000
3367,2023-02-01 15:30:00-05:00,101.290001,102.189903,101.209999,101.400002,101.400002,3521592,153000

In [5]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPClassifier, MLPRegressor
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [4]:
import random

round(random.random(), 2)

0.52

In [6]:
X = google[['Open', 'High', 'Low', 'Volume', 'datetime_coded']]
y = google['Close']


X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

rf = RandomForestRegressor(random_state=42, n_estimators=10000)

rf.fit(X_train, y_train)

y_preds = rf.predict(X_test)

MSE = mean_squared_error(y_test, y_preds)
MAE = mean_absolute_error(y_test, y_preds)
print(MSE)
print(MAE)

#0.14218293112522778
#0.27475840308037625

0.1403409556241618
0.272381302187052

In [7]:
len(X_train)

2526

In [8]:
microsoft.reset_index(inplace=True)
microsoft

datetime_coded = []

for x in microsoft['Datetime']:
    datetime_coded.append(int(str(x)[11:-6].replace(":", "")))

datetime_coded


microsoft['datetime_coded'] = datetime_coded

microsoft

X = microsoft[['Open', 'High', 'Low', 'Volume', 'datetime_coded']]
y = microsoft['Close']


X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

rf = RandomForestRegressor(random_state=42, n_estimators=10000)

rf.fit(X_train, y_train)

y_preds = rf.predict(X_test)

MSE = mean_squared_error(y_test, y_preds)
MAE = mean_absolute_error(y_test, y_preds)
print(MSE)
print(MAE)

0.7171532814078099
0.6002721222195658